<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
      <h1>
        <% Today = Time.now.strftime("%A, %d/%m/%Y") %>
        <%= Today %>
      </h1>
      <p>The date is %A, %B %d, 2016</p>
    </body>
</html>