<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
      <h1>
        <% Today = Time.now.strftime("%A, %B %d, %Y") %>
        <%= Today %>
      </h1>
      <p>The date is </p>
    </body>
</html>